# Omniverse
**/*.dmp
**/.thumbs

# Python
.DS_Store
._*
**/._*
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# IDE
**/.idea/
**/.vscode/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
!.vscode

# Outputs
**/runs/*
**/logs/*
**/recordings/*
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
log.txt
data/generated_npz/*.npz
data/npz/Punch_Swing_L_50hz.npz
data/npz/riot_combo_50hz.npz
data/augmented_npz/*.npz
data/highdyn_speed_npz/*.npz
data/speed_augmented_npz/*.npz
data/multimotion_npz/*.npz
docs/media/**/*.mp4
docs/media/**/*.log
experiments/*/logs/*
experiments/*/configs/generated/*
*.bak
*.bak_*
*.tmp
*.pyc

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat
